/*Color system source:https://yeun.github.io/open-color/ */
/*Gray: #dee2e6, #e9ecef; Blue: #228be6; Teal: #63e6be */

/* Elements styling */
:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
}

section > .container {
  max-width: 1170px;
  margin: auto;
  display: block;
  padding: 30px 50px;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
}
/*Coloring icons*/
i {
  color: #228be6;
}

/*Styling banner*/
#banner {
  position: relative;
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 60vh;
}

.banner-texts {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.banner-texts span {
  font-size: 13px;
}

#banner h1 {
  font-size: 3rem;
}
/*Styling navigation bar*/
#nav-bar {
  text-align: center;
}

#nav-bar .container {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

#nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border-left: 1px solid #dee2e6;
  padding: 20px 20px;
}
/* Add right border for 2nd and 5th anchor because
 add right border for every anchor will duplicate
 their border and made them bolder */
#nav-bar a:nth-child(2),
#nav-bar a:nth-child(5) {
  border-right: 1px solid #dee2e6;
}

.center {
  /* padding: 0px 50px; */
  padding: 0px 200px;
  position: relative;
}

.center img {
  position: absolute;
  border: #fff 10px solid;
  border-radius: 50%;
  transform: translateX(-50%);
  top: -100%;
}
/* Styling personal information */
/* Make 2-color background by linear gradient */

#about {
  background-image: linear-gradient(
    to right,
    #f7f7f7 0%,
    #f7f7f7 50%,
    #e9ecef 50%,
    #e9ecef 100%
  );
}

#about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

#about .section-title {
  margin-bottom: 50px;
  margin-top: 20px;
}

#personal-info .info {
  list-style-type: none;
  padding: 0;
}

#personal-info i {
  display: inline-block;
  margin-top: 30px;
}

/*Styling job information part */

#job-info .container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-template-rows: repeat(2, 1fr);
  color: gray;
}

.job-info-item:nth-child(1) {
  grid-row: 1/3;
}

.job-info-group {
  display: grid;
  gap: 50px;
}

.job-info-item {
  border: 1px #e9ecef solid;
  box-shadow: 1px 1px 5px #e9ecef;
}

.job-info-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
  margin-bottom: 25px;
}

.job-info-main div {
  position: relative;
}

.job-info-main div::before {
  content: '';
  height: 8px;
  width: 8px;
  background: #228be6;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: 9px;
}

/* Styling milestone */
.time-milestone {
  display: inline-block;
  padding: 1px 15px;
  background-color: #228be6;
  color: #f7f7f7;
  border-radius: 10px;
  font-style: italic;
}

#job-info ul {
  list-style: inside;
  list-style-type: '- ';
  padding: 0;
  margin: auto 20px auto 60px;
}

#job-info li:first-child {
  list-style: none;
  margin-bottom: 15px;
}

.job-info-title {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin-left: 30px;
  text-align: center;
}

#job-info i {
  color: gray;
}

.job-info-title i {
  font-size: 50px;
  padding: 20px 25px 20px 0px;
}

.icons-hobby {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-size: 12px;
  justify-items: center;
  gap: 1rem 0;
}

.icons-hobby i {
  display: block;
  font-size: 18px;
  width: 38px;
  height: 38px;
  border: 2px #63e6be solid;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}

.experience-group {
  margin-left: 30px;
}

.experience-bar {
  background: #199cdb;
  display: inline-block;
  height: 4px;
  margin-right: 5px;
  width: 60px;
  border-radius: 2px;
}

/* Styling certificates & reward part */

#certificate .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#certificate .section-title {
  grid-column: 1/3;
}

.certificate-info {
  display: flex;
  padding: 40px 0px;
  border-bottom: #d6c08d 1.5px solid;
}

.certificate-info:nth-of-type(3) {
  border: none;
}

.certificate-info:nth-of-type(2) img {
  border-left: #d6c08d 1px solid;
  padding-left: 15px;
}

.certificate-info img {
  width: 180px;
  display: inline-block;
}

.certificate-info ul {
  list-style: inside;
  list-style-type: '- ';
  margin-right: 0;
  font-size: 13px;
  color: gray;
}

.certificate-info li:first-child {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
}

/* Styling project part*/
#project .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 12px;
}

#project {
  color: gray;
}

#project i {
  color: gray;
}
#project .section-title {
  grid-column: 1/4;
  color: #000;
  font-size: 2em;
}

.project img {
  width: 330px;
  display: block;
}

.project-title {
  width: 330px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  border: #dee2e6 1px solid;
  border-bottom: none;
}

.project-title:nth-of-type(1) {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

#project .time-milestone {
  font-style: normal;
  font-weight: bold;
}

.project table {
  width: 330px;
  border-collapse: collapse;
}

.project table,
td {
  border: #dee2e6 1px solid;
}

.project td:nth-of-type(odd) {
  width: 25%;
  border-right: none;
  vertical-align: top;
  padding: 10px 5px;
}

.project td:nth-of-type(even) {
  border-left: none;
  vertical-align: top;
  padding: 10px;
}

/* Styling footer part*/
#footer {
  text-align: center;
}

#footer li {
  display: inline-block;
  margin-left: 30px;
}

#footer i {
  font-size: 32px;
}

#footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

#footer a:visited {
  color: #228be6;
}
