@media only screen and (max-width: 767px) {
  body {
    font-size: 90%;
  }

  .center {
    display: none;
  }

  #nav-bar a:nth-child(2) {
    border-right: none;
  }
  /* About part */
  #about .container {
    grid-template-columns: 1fr;
    justify-items: center;
    background-image: linear-gradient(
      to bottom,
      #f7f7f7 0%,
      #f7f7f7 50%,
      #e9ecef 50%,
      #e9ecef 100%
    );
  }
  #about .section-title {
    margin-bottom: 2rem;
  }
  /* Job info part */
  #job-info .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .job-info-item {
    padding-bottom: 2.5rem;
  }
  /* certificate part */
  .certificate-main {
    display: grid;
    grid-template-columns: auto;
  }

  .certificate-info:nth-of-type(2) .certificate-img {
    border-left: none;
    padding-left: 0;
  }
  /* Project part */
  .project-main {
    grid-template-columns: 1fr;
  }

  /* Footer */
  #footer li {
    margin: 0 0.5rem;
  }
}
